# Markdown
## Markdown
### Markdown
#### Markdown
# python
  - Python
      - python 1
      - python 2
      
  # Font styles
   - **Python**
   - *python*
   - ***python***
   
   
  # Print Function():
   - in python print function used to print specific text or message

In [2]:
print("Hello , World")

Hello , World

In [7]:
print("Hello World")

Hello World

In [3]:
print("one","Two","Three")

one Two Three

# Variable
- TO store some data values

In [3]:
a=10 
print(a)

10

In [4]:
a=b=c=10
print(a,b,c)

10 10 10

In [5]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

# input function
- accept input from user

In [7]:
# input as text
x = input("enter your name:")
print("your name is:",x)
print (type(x))

enter your name:vamsi
your name is: vamsi
<class 'str'>

In [8]:
#Input as number
n= int(input("Enter a number :"))
print(n)
print(type(n))

Enter a number :20
20
<class 'int'>

# Data types

In [9]:
# integer
x=10
print(x)
print(type(x))

10
<class 'int'>

In [10]:
# float
a=10.3
print(a)
print(type(a))

10.3
<class 'float'>

In [11]:
#string
s="Vamsi"
print(s)
print(type(s))

Vamsi
<class 'str'>

# Data conversion

In [18]:
# integer
n=5
print(n,type(n))

5 <class 'int'>

In [19]:
# string 
s=25631
print(s,type(s))
i=int(s)
print(i,type(i))

25631 <class 'int'>
25631 <class 'int'>

In [20]:
#string
v="name"
d="is"
f="James"
print(v,d,f)

name is James

In [8]:
# accept the input values from user and sum multiplication, division

print("enter two numbers:")
q=int(input("enter one value"))
e=int(input("enter another value"))
a=q+e
t=q*e
k=q/e
print("sum is",a)
print("mul is",t)
print("div is",k)

enter two numbers:
enter one value12
enter another value21
sum is 33
mul is 252
div is 0.5714285714285714

In [5]:
# calculate radius
pie=3.14
r=int(input("enter a radius value"))
o=pie*r*r
print("radius is",o)

enter a radius value12
radius is 452.15999999999997

In [7]:
#print a year
g=int(input("enter a value"))
g=g+50
print("year is",g)

enter a value2000
year is 2050